@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';
/* Whitelist Tailwind CSS classes from <Bleed> TSDoc examples */
@source inline('aspect-video');
@source inline('py-10');

@variant dark (&:where(.dark *));

@theme {}

:root,
:host {
  --nextra-primary-hue: 0 !important;
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

svg:hover {
  color: red;
  opacity: .5;
  scale: 1.25;
  transition-property: all;
  transition-duration: 500ms;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.footer-logo {
  opacity: 0.9;
  transition: opacity 0.3s ease;
  width: 180px;
  height: auto;
  margin-bottom: 0.75rem;
}

.footer-section {
  flex: 1;
}

.footer-section h3 {
  margin-bottom: 0.75rem;
  color: #a04040;
  font-size: 1rem;
  font-weight: bold;
}

.footer-links {
  display: flex;
  gap: 3rem;
}

.footer-links a {
  color: #888888;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #2a2020;
  padding-top: 1rem;
  color: #888888;
  font-size: 0.8rem;
  text-align: center;
}

.footer-bottom a {
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-content {
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-section,
  .logo-section {
    margin-bottom: 1.5rem;
    max-width: 100%;
  }

  .footer-links {
    justify-content: space-between;
    width: 100%;
  }
}

/* adds labels to the sidebar links */
.badge-new {
  @apply dark:after:border-red-200/30 dark:after:bg-red-900/30 dark:after:text-red-200;

  &:after {
    @apply ms-1.5 rounded-full border border-red-200 bg-red-100 px-1.5 text-xs font-bold text-red-900 content-["New"];
  }
}