[package]
name = "uplc_tx"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
crate-type = ["cdylib"]

[dependencies]
error = "0.1.9"
uplc = "1.0.20-alpha"
wasm-bindgen = "0.2.89"
k256 = { version = "0.13.0" }
js-sys = "0.3.61"
getrandom = { version = "0.2", features = ["js"] }
