name: CI

on:
  push:
    branches:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VITE_BLOCKFROST_KEY: ${{ secrets.VITE_BLOCKFROST_KEY }}
      VITE_MAESTRO_KEY: ${{ secrets.VITE_MAESTRO_KEY }}
      VITE_SEED: ${{ secrets.VITE_SEED }}
      VITE_API_URL: ${{ secrets.VITE_API_URL }}
      VITE_KUPO_KEY: ${{secrets.VITE_KUPO_KEY}}
      VITE_OGMIOS_KEY: ${{secrets.VITE_OGMIOS_KEY}}
      VITE_BLOCKFROST_API_URL_PREPROD: ${{secrets.VITE_BLOCKFROST_API_URL_PREPROD}}
      VITE_BLOCKFROST_API_URL_PREVIEW: ${{secrets.VITE_BLOCKFROST_API_URL_PREVIEW}}
      VITE_BLOCKFROST_KEY_PREPROD: ${{secrets.VITE_BLOCKFROST_KEY_PREPROD}}
      VITE_BLOCKFROST_KEY_PREVIEW: ${{secrets.VITE_BLOCKFROST_KEY_PREVIEW}}
      VITE_WALLET_SEED: ${{secrets.VITE_WALLET_SEED}}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm i
      - run: pnpm run lint
      - run: pnpm run format-check
      - run: pnpm run build
      - run: pnpm test
