name: CI

on:
  push:
    branches:
      - "**"
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      VITE_BLOCKFROST_KEY: ${{ secrets.VITE_BLOCKFROST_KEY }}
      VITE_SEED: ${{ secrets.VITE_SEED }}
      VITE_API_URL: ${{ secrets.VITE_API_URL }}
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - run: pnpm i
      - run: pnmm run build
      - run: pnpm run lint
      - run: pnpm run format-check
      - run: pnpm test
